# Server Configuration
NODE_ENV=development
PORT=8080
HOST=localhost

# Database Configuration
MONGODB_URI=mongodb+srv://nikunjgoyani5_db_user:hgBCeTxuezJFwW24@viteezy-2.cgdtgex.mongodb.net/viteezy-phase-2-staging
# MONGODB_TEST_URI=mongodb+srv://nikunjgoyani5_db_user:hgBCeTxuezJFwW24@viteezy-2.cgdtgex.mongodb.net/viteezy-phase-2-staging

# JWT Configuration
JWT_SECRET="44/'F~VF^\Dn3s#O%U"
JWT_EXPIRE=7d
JWT_REFRESH_SECRET="796U[On]h'YvoKP[}i}73;Tqt;78?"
JWT_REFRESH_EXPIRE=30d

# Email Configuration
EMAIL_HOST=gmail
EMAIL_PORT=587
EMAIL_USER=darsh.logicgo@gmail.com
EMAIL_PASS=acwtvqryginfffxw

# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=harsh.logicgo6@gmail.com
# SMTP_PASS=acwtvqryginfffxw
# SMTP_FROM=harsh.logicgo6@gmail.com

# Email Configuration (SendGrid)
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=darsh.logicgo@gmail.com
SENDGRID_FROM_NAME=viteezy

# File Upload Configuration
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads/

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# CORS Configuration
CORS_ORIGIN=http://localhost:8080

# Logging
LOG_LEVEL=info
LOG_FILE=logs/app.log

# Payment Gateway Configuration
# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret_here

# Mollie Configuration
MOLLIE_API_KEY=test_your_mollie_api_key_here

#Digital-ocean
DIGITALOCEAN_ACCESS_KEY=DO00R47LPRMJ9Y9BYA8D
DIGITALOCEAN_CLIENT_SECRET=Lg4PgTjE+g8Nnx0oHSpwZ6p/NHK4Qv01bcVfRSb1dYk
DIGITALOCEAN_CALLBACK_URL="https://blr1.digitaloceanspaces.com"
DIGITALOCEAN_BUCKET_NAME=milestone
DIGITALOCEAN_RESION="blr1"

# PostNL API Configuration
POSTNL_API_KEY=YOQL8bQw1acZfoEbGPhnRueCshfqYYtO
POSTNL_SHIPMENT_API_KEY=J2v9hGgdfAlkilvuH8GE0GSuMT6GbHKg
POSTNL_URL=https://api.postnl.nl/address/national/v1/validate
POSTNL_TIMEOUT_MS=5000

BEHIND_PROXY="true"
TRUST_PROXY="true"