fastapi==0.115.8
uvicorn[standard]==0.34.0
motor==3.7.1
pymongo==4.11.1
pydantic==2.9.2
pydantic-settings==2.6.1
openai==1.52.0
httpx==0.27.2
python-dotenv==1.0.1
requests==2.32.3
docxtpl==0.20.1
docx2pdf==0.1.8
Pillow==11.1.0
boto3==1.36.18
